<?xml version="1.0"?>
<launch>
  <arg name="uri1" default="radio://0/80/2M/0xE7E7E7E7E2" />
  <arg name="frame" default="/world" />
  <arg name="ip" default="192.168.1.115" />
  <arg name="port" default="22223" />

  <!--<include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>
-->

<!-- CF Qualisys body names; string format: "CF1,CF2,CF3,CF4,CF5" -->
  <arg name="cf_names_arg" value="CF1" />
  <param name="cf_names" value="$(arg cf_names_arg)" />

  <!--<group ns="CF1">
    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri1)" />
      <param name="tf_prefix" value="CF1" />
      <param name="enable_logging_battery" value="True" />
    </node>
    <node name="qualisys_node" pkg="crazyflie_scripts" type="stream_6dof.py" output="screen">
      <param name="ip" value="$(arg ip)" />
    </node>
  </group>
-->

  <!-- Node to send external positions from Qualisys -->
  <node name="cf_qualisys_node" pkg="crazyflie_scripts" type="qualisys_cf_stream2.py" output="screen">
    <param name="ip" value="$(arg ip)" />
  </node>

    <node name="Test" pkg="crazyflie_scripts" type="testing_script2.py" output="screen">
    </node>


</launch>
